@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
        }
    }
}

@media (max-width: 800px) {
    .app {
        &__banner {
            height: auto;
            padding: 20px;
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
            align-items: center;
            justify-content: center;
            grid-gap: 15px;

            &-text {
                text-align: center;
                font-size: 18px;
                line-height: 26px;
                padding-left: 0px;
                padding-top: 0px;
            }

            img {
                margin: auto;
                max-width: 120px;
            }
        }
    }
}