@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.app {
    max-width: 1150px;
    margin: 0 auto;
    padding: 50px 25px 50px 25px;
    position: relative;
    .bg-decoration {
        position: absolute;
        right: -174px;
        bottom: -70px;
        z-index: -1;
    }
}
#root {
    overflow: hidden;
    min-width: 320px;
}

main {
    margin-top: 50px;
    position: relative;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    &__title {
        margin-bottom: 25px;
        font-size: 2rem;
        color: crimson;
    }
    &__descr {
        margin-bottom: 5px;
    }

    &__descr, &__link {
        font-size: 1rem;
    }

}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}


.page-enter {
    opacity: 0;
    transform: scale(0);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 0;
    transform: scale(0);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0);
    transition: opacity 300ms, transform 300ms;
}

.single-character {
    display: flex;
    padding-top: 45px;
    &__img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-right: 25px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__descr {
        margin-bottom: 25px;
    }

    &__back {
        margin-top: auto;
        width: fit-content;
    }
}
@media (max-width: 600px) {
    .single-character {
        padding-top: 20px;
        flex-direction: column;
        &__img {
            width: 150px;
            height: 150px;
            margin-right: 0;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}
